p{
  margin: 0;
}
/*NavBar*/
.NavBar{
  display: flex;
  background-color: rgb(104, 104, 104);
  flex-direction: row;
  justify-content: space-between;
  height: 4rem;
}

.NavBar > div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Left > p, .Left > a{
  color: white;
  margin-left: 0.8rem;
  text-decoration: none;
  cursor: pointer;
  transition: 2s;
  border-bottom: rgb(104, 104, 104) ;
}

.Right > p{
  color: white;
  margin-right: 3rem;
}

.Left > :hover{
  border-bottom: 0.08rem solid white;
}


/*Body*/
#root{
  width: 100%;
  height: 100%;
}
a{
  text-decoration: none;
  color: white;
}

.Content1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 150vh;
}
.Content2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}

.Source{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 15%;
}


/*Main Content*/
.MainContent{
  display: flex;
  flex-direction: column;
  width: 100%;
  flex:16;
}

.Row{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.Row div{
  height: 100%;
  width: 100%;
}

.TextContent{
  width:70%;
  height:90%;
  font-size: 16px;
  color: transparent;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

.ContentWrapper{
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*footer*/
#contactDiv{
  flex: 1;
  width: 100%;
  background-color: rgb(104, 104, 104);
  display: flex;
}
#contactDiv p{
  color: white;
}
.ContactWrapper{
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.ContactWrapper p{
  padding-left: 2%;
}
.ContactWrapper a{
  padding-left: 2%;
}

/*about me page*/
  .AboutMeComp{
    height: 80vh;
    width:100%;
    display:flex;
  }
  .AboutMeWrapper > p{
    height: fit-content;
    width: 80%;
    color: black;
  }
  .AboutMeWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .Picture{
    padding-left: 3%;
    height: 60vh;
    width: 60vh;
    border-radius: 100%;
  }
  .PictureWrapper{
    display:flex;
    justify-content: center;
    align-items: center;
  }
 /*test*/

